<div class="container" id="option-1">
    <button class="option-button" (click)="buton1()">1. Hisse Senetlerini Göster</button>
</div>
<div class="container" id="option-2">
    <button class="option-button" (click)="buton2()">2. Tüm Dövizleri Göster</button>
</div>
<div class="container" id="option-3">
    <button class="option-button" (click)="buton3()">3. Döviz Dönüşümü Yap</button>
</div>
<div class="container" id="option-4">
    <button class="option-button" (click)="buton4()">4. Tüm Dövizlere Dönüşüm Yap</button>
</div>

